*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JEE_Projet/nbproject/private/
/JEE_Projet/JEE_Projet-war/nbproject/private/
/JEE_Projet/JEE_Projet-ejb/nbproject/private/
/JEE_Projet/dist/
/JEE_Projet/build/
/JEE_Projet/JEE_Projet-ejb/dist/
/JEE_Projet/JEE_Projet-ejb/build/
/JEE_Projet/JEE_Projet-war/dist/
/JEE_Projet/JEE_Projet-war/build/