#content{
    margin:auto;
    width:1024px;
    text-align:center;
}
.navbar{
    border-radius: 0 !important;
}

#step{background-color: #eee;color: #acacac;top: 0;width: 100%;z-index: 1030;margin-top:-20px;}
.expand{display:block;height:60px;}
#step ul {float: left;height: 60px;list-style: outside none none;margin: 0;overflow: hidden;padding: 0;width: 100%;}
#step ul li:after {background-color: #eee;border-color: #fff;border-radius: 4px 6px;border-style: solid;border-width: 2px 2px 0 0;content: "";display: block;height: 60px;margin-left: -2em;margin-top: 0;position: absolute;right: -20px;top: 0;transform: rotate(45deg);width: 60px;z-index: -1;}
#step ul li.step-1 {
    margin-left: 0;
    padding-left: 12px;
    z-index: 10;
}
#step ul li {
    float: left;
    font-size: 1.1em;
    font-weight: 600;
    height: 60px;
    margin-bottom: 0;
    margin-left: -25px;
    margin-right: 1.5em;
    padding: 17px 5px 8px 45px !important;
    position: relative;
    white-space: nowrap;
    width: 31%;
}
#step ul li.step-2 {
    z-index: 9;
}

#step ul li.step-4 {
    z-index: 7;
}
#step ul li.current{
    color: #73be04;
}
#step .expand .close {
    margin-right: 20px;
    margin-top: 4px;
    opacity: 1;
}
#step a.close-step {
    font-size: 1.5em;
    position: absolute;
    right: 0;
    z-index: 100;
    top:63px;
}
#step a {
    color: #acacac;
}
#step ul li.current a:hover {
    text-decoration: none;
    color: #558c03;
}

.searchResults{
    margin-top:15px;
    height:250px;
    width:100%;
    //overflow-y: scroll;
}